<launch>
  <arg name="robot" default="juliett"/>
  <group ns="$(arg robot)">

  <node pkg="laser_slam"
    name="pelican_slam"
    type="laser_slam"
    output="screen">
    <remap from="~scan_in" to="laser/scan"/>
    <remap from="~imu_in" to="/kquad_interface/robot1/imu"/>
    <remap from="~output_data" to="output_data"/>
    <remap from="~odom" to="odom_csm"/>
    <rosparam file="$(find laser_slam)/config/$(arg robot).yaml"/>
    <param name="decay_rate" value="9"/>
  </node>

  <node pkg="quadrotor_ukf"
    type="quadrotor_ukf"
    name="quadrotor_ukf"
    output="screen">
    <rosparam file="$(find quadrotor_ukf)/config/params.yaml"/>
    <remap from="~output_data" to="output_data"/>
    <remap from="~odom_slam" to="odom_csm"/>
    <remap from="~odom_vo" to="odom_vo"/>
    <remap from="~odom_out" to="ukf_odom_csm"/>
    <param name="frame_id" value="map"/>
  </node>
  </group>

  <node pkg="nodelet"
    type="nodelet"
    name="laser_odom"
    args="standalone using_markers/PoseVisualization">
    <remap from="~odom" to="$(arg robot)/odom"/>
    <param name="name" value="odom"/>
    <param name="frame_id" value="map"/>
    <param name="text_scale_z" value="0.5"/>
  </node>
  <node pkg="nodelet"
    type="nodelet"
    name="vicon_odom"
    args="standalone using_markers/PoseVisualization">
    <remap from="~odom" to="$(arg robot)/odom_vicon"/>
    <param name="name" value="vicon_odom"/>
    <param name="frame_id" value="map"/>
    <param name="text_scale_z" value="0.5"/>
  </node>


  <!--
  <node pkg="laser_pose_estimator_test"
    type="laser_pose_estimator_test"  
    name="pelican_slam"            
    output="screen">               
    <remap from="~quad_in" to="juliett/output_data"/>
    <remap from="~scan_in" to="juliett/laser/scan"/>
    <remap from="~odom" to="odom_laser_pose_estimator"/>
    <param name="resolution" value="0.05"/>
  </node>             
-->
</launch>
